* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #553055;
}

.App {
  color: #efefef;
  max-width: 92.5%;
  width: 60rem;
  margin: 2rem auto;
  background-color: #4c2a4c;
}

.navbar {
  padding: 1rem 2rem;
  text-align: center;
  background-color: #6d3d6d;
}

.navbar__title {
  margin: 1rem 0;
}

.book-list {
  list-style: none;
  padding: 1rem;
}

.book {
  margin: 1rem 0;
  background-color: #6d3d6d;
  border-radius: 4px;
  cursor: pointer;
  padding: .5rem;
}

.book:hover {
  opacity: .65;
  text-decoration: line-through;
}

.form {
  padding: 1rem;
}

.form__input {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 4px;
  border: none;
}

.form__submit {
  padding: .75rem 1.25rem;
  font-family: sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}